@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;700&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,body{
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}


body {
  font-family: 'IBM Plex Mono', monospace;
}

button {
  cursor: pointer;
}

.font{
  font-family:  'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}